<ul>
<h5> <% @entries.each do |entry| %>
<li>
<%= entry.entry %> >
<%= entry.date %>
</li>
<% end %></h5>
</ul>

<form action="/new_entry" method="get">
<input type="submit" value="Add Another Entry"/>
</form>
